# Python 
__pycache__/
*.py[cod]
.env
*.pyc


# Django 
*.log
db.sqlite3
# Exclude all migrations
**/migrations/*.py
!**/migrations/__init__.py

# Temporary files
*.temp
*.tmp

# Operating system files
.DS_Store
Thumbs.db

api/test/


