:root {
    --header-height: 50px;
}

body{
    height: 100%;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    background-color:rgb(189, 189, 189);
    color:rgb(0, 0, 0);
    padding-top: var(--header-height);
}

h1{
    margin: 10px;
    font-size: 1.1em;
}

h2{
    margin-bottom: 40px;
}

h3{
    padding: 10px;
}

button{
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(0, 128, 255);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    width: auto;
}

button:hover{
    background-color: #1a008e;
    transition: background-color 0.5s ease;
}

button:active{
    box-shadow: 1.5px 1.5px #666;
}

button[disabled]:active{
    box-shadow: 0 0;
}

button[disabled]:hover{
    background-color: rgb(0, 128, 255);
}

button[disabled]{
    cursor: not-allowed;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: calc(var(--header-height) + 50px);
    height: 100%;
    background-color:rgb(189, 189, 189);
}

.title{
    font-size: 2em;
}


.alert{
    color: red;
    margin: 20px;
}

.error-message{
    font-size: 1em;
    margin: 10px;
    color: red;
}

/* header */

header{
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    font-size: 1em;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 9998;
}

header h1{
    font-size: 1.6em;
    color: #2f496d;
}

.header-buttons{
    display: flex;
}

.home-icon{
    display: flex;
    width: 18px;
    height: 20px;
}

.header-left{
    display: flex;
    align-items: center;
}

/* Home */
.dates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.date{
    background-color:rgb(255, 235, 219);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.election-status-box{
    display: flex;
    flex-direction: column;

    padding-bottom: 30px;
    background-color: #4caf50;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.vote-button, .result-button{
    font-size: 1.2em;
    padding: 7px 10px;
    margin: 10px;
    align-self: center;
}

.pre-vote-container{
    padding-top: 100px;
}

/* Form */
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 35px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.form-input{
    font-size: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    border:solid 1px gray;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-input:focus{
    border:solid 1px #4caf50;
    outline: none;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);
}

/* Register-Form */
.form-input-name{
    display: flex;
    justify-content: space-between;
    gap: 7.5px;
    width: 100%;
}


/* Voting-Form */


.voting-form-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 60px 100px;
    border-radius: 5px;
    padding-bottom: 10px;
    
}

.candidate-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d4ecde;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.candidate-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1em;
    cursor: pointer;
    margin: 0 25px 0 10px;
}

.candidate-label p {
    margin: 2px 0px;
}

.candidate-input{
    transform: scale(1.5);
    margin-right: 10px;
}

.submit-vote-button{
    font-size: 20px;
    padding: 10px 10px;
    margin: 25px;
    align-self: center;
}

/* Election Results */
.result-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}



.candidate-result-box{
    border-radius: 5px;
    padding: 15px;
    width: calc(33.3% - 25px);
    background-color: #d4ecde;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.candidate-result-box p {
    margin: 13px 0; 
}

.candidate-result-box hr {
    border: none;
    border-top: 1px solid rgb(130, 130, 130);
}

.vote-count{
    color: rgb(0, 101, 178);
    font-size: 1.2em;
    font-weight: bold;
}

/* Connect-Button */
.address-box{
    margin: 40px;
}

.address{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
}

/* Countdown */

.countdown-times{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -25px;
}

.countdown-time{
    display: flex;
    justify-content: center;
}
.countdown-v-l{
    padding: 0px 20px;
    text-align: center;
}

.countdown-value{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
    
}

.countdown-label{
    font-size: 11px;
    margin: -15px;
}

.countdown-colon{
    margin-top: 30px;
    font-size: 25px;
}

/* Loading Spinner */

.loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 30px;
    width: 100%;
    height: calc(100% + var(--header-height));
    z-index: 9999;
}

.loading-spinner{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    animation: rotate 2s linear infinite;
}

.path {
    stroke: #3397d9;
    stroke-linecap: round;
    animation: dash 2.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 0, 125;
        stroke-dashoffset: 0;
    }
    25% {
        stroke-dasharray: 15, 125;
    }
    50% {
        stroke-dasharray: 90, 125;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 125;
        stroke-dashoffset: -124;
    }
}

